.visible {
  visibility: visible;
}

.button {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  border: 1px solid gray;
  font-size: 1rem;

  &:hover:enabled {
    border: 1.5px inset gray;
  }
}

.icon-button {
  &:hover {
    transform: scale(1.1);
  }
}

.error-label {
  color: var(--error);
  opacity: 0.8;
  font-size: 0.875rem;
  font-style: italic;
}
